<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banner_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1139,456}</string>
                <key>spriteSourceSize</key>
                <string>{1139,456}</string>
                <key>textureRect</key>
                <string>{{1,1},{1139,456}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 21 22 10 20 21 11 19 20 12 18 19 17 12 13 16 14 15 16 13 14 16 17 13 17 18 12 11 12 19 10 11 20 9 10 22 9 0 1 8 1 2 7 2 3 6 3 5 7 3 6 5 3 4 8 2 7 9 1 8 0 9 22</string>
                <key>vertices</key>
                <string>681 2 792 16 898 36 1139 102 1139 456 1104 456 1022 441 913 401 778 369 687 356 531 349 403 362 260 391 105 442 36 456 0 456 0 101 86 83 173 51 311 21 426 5 493 0 647 0</string>
                <key>verticesUV</key>
                <string>682 3 793 17 899 37 1140 103 1140 457 1105 457 1023 442 914 402 779 370 688 357 532 350 404 363 261 392 106 443 37 457 1 457 1 102 87 84 174 52 312 22 427 6 494 1 648 1</string>
            </dict>
            <key>Box_Blue_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1142,1},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 10 11 8 9 10 8 10 7 6 7 10 4 6 10 4 5 6 2 3 4 1 2 4 1 4 11 0 1 11</string>
                <key>vertices</key>
                <string>677 18 700 66 700 640 671 685 630 700 37 700 0 647 0 64 16 31 48 6 74 0 631 0</string>
                <key>verticesUV</key>
                <string>1819 19 1842 67 1842 641 1813 686 1772 701 1179 701 1142 648 1142 65 1158 32 1190 7 1216 1 1773 1</string>
            </dict>
            <key>ButtonText_Small_Green_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,228}</string>
                <key>spriteSourceSize</key>
                <string>{536,228}</string>
                <key>textureRect</key>
                <string>{{1,459},{536,228}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 1 3 5 1 2 3 0 1 5</string>
                <key>vertices</key>
                <string>536 228 17 228 3 215 0 204 0 6 24 0 536 0</string>
                <key>verticesUV</key>
                <string>537 687 18 687 4 674 1 663 1 465 25 459 537 459</string>
            </dict>
            <key>ButtonText_Small_Orange_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,228}</string>
                <key>spriteSourceSize</key>
                <string>{536,228}</string>
                <key>textureRect</key>
                <string>{{604,473},{536,228}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>536 228 0 228 0 0 536 0</string>
                <key>verticesUV</key>
                <string>1140 701 604 701 604 473 1140 473</string>
            </dict>
            <key>IconButton_Large_Background_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,357}</string>
                <key>spriteSourceSize</key>
                <string>{357,357}</string>
                <key>textureRect</key>
                <string>{{1690,838},{357,357}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 11 12 8 10 11 8 9 10 7 8 11 4 7 11 5 6 7 4 5 7 2 3 4 1 2 4 1 4 12 0 1 12</string>
                <key>vertices</key>
                <string>333 15 357 67 357 303 321 348 245 357 79 357 16 336 0 271 0 52 26 15 69 2 107 0 270 0</string>
                <key>verticesUV</key>
                <string>2023 853 2047 905 2047 1141 2011 1186 1935 1195 1769 1195 1706 1174 1690 1109 1690 890 1716 853 1759 840 1797 838 1960 838</string>
            </dict>
            <key>IconButton_Large_Orange_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,357}</string>
                <key>spriteSourceSize</key>
                <string>{357,357}</string>
                <key>textureRect</key>
                <string>{{561,797},{357,357}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 4 8 11 5 7 8 5 6 7 4 5 8 2 3 4 1 2 4 1 4 11 0 1 11</string>
                <key>vertices</key>
                <string>340 17 357 86 357 283 332 346 256 357 98 357 20 346 0 280 0 98 10 27 66 0 270 0</string>
                <key>verticesUV</key>
                <string>901 814 918 883 918 1080 893 1143 817 1154 659 1154 581 1143 561 1077 561 895 571 824 627 797 831 797</string>
            </dict>
            <key>Icon_Small_Blank_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,154}</string>
                <key>spriteSourceSize</key>
                <string>{168,154}</string>
                <key>textureRect</key>
                <string>{{1844,403},{168,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 8 9 7 5 6 7 8 5 1 2 5 4 5 2 4 2 3 0 1 5 0 5 9</string>
                <key>vertices</key>
                <string>168 60 168 93 104 149 94 154 78 154 49 125 0 125 0 36 79 0 98 0</string>
                <key>verticesUV</key>
                <string>2012 463 2012 496 1948 552 1938 557 1922 557 1893 528 1844 528 1844 439 1923 403 1942 403</string>
            </dict>
            <key>Icon_Small_Blank_Audio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,154}</string>
                <key>spriteSourceSize</key>
                <string>{133,154}</string>
                <key>textureRect</key>
                <string>{{1555,989},{133,154}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 4 1 3 0 1 6 4 5 6 4 6 1 0 6 7 0 7 8 0 8 9</string>
                <key>vertices</key>
                <string>133 49 133 105 109 154 77 154 0 110 0 49 9 40 66 5 84 0 109 0</string>
                <key>verticesUV</key>
                <string>1688 1038 1688 1094 1664 1143 1632 1143 1555 1099 1555 1038 1564 1029 1621 994 1639 989 1664 989</string>
            </dict>
            <key>Icon_Small_Blank_AudioOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{166,168}</string>
                <key>textureRect</key>
                <string>{{1881,533},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 11 1 5 11 5 10 11 12 1 9 10 6 9 6 8 8 6 7 5 6 10 12 13 1 2 5 1 2 4 5 4 2 3 0 1 13</string>
                <key>vertices</key>
                <string>166 27 150 61 150 113 121 165 98 162 62 145 27 168 12 168 3 159 0 153 0 133 20 48 96 6 139 0 166 0</string>
                <key>verticesUV</key>
                <string>2047 560 2031 594 2031 646 2002 698 1979 695 1943 678 1908 701 1893 701 1884 692 1881 686 1881 666 1901 581 1977 539 2020 533 2047 533</string>
            </dict>
            <key>Icon_Small_Blank_Check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,143}</string>
                <key>spriteSourceSize</key>
                <string>{146,143}</string>
                <key>textureRect</key>
                <string>{{1,850},{146,143}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 5 6 7 3 5 7 3 4 5 0 7 8 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>146 33 68 143 44 143 10 116 0 103 0 83 11 66 57 71 110 0 146 0</string>
                <key>verticesUV</key>
                <string>147 883 69 993 45 993 11 966 1 953 1 933 12 916 58 921 111 850 147 850</string>
            </dict>
            <key>Icon_Small_Blank_Help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,149}</string>
                <key>spriteSourceSize</key>
                <string>{103,149}</string>
                <key>textureRect</key>
                <string>{{279,850},{103,149}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 1 5 8 4 5 1 4 2 3 4 1 2 0 1 8</string>
                <key>vertices</key>
                <string>103 27 103 64 75 149 38 149 26 143 0 52 0 26 26 0 76 0</string>
                <key>verticesUV</key>
                <string>382 877 382 914 354 999 317 999 305 993 279 902 279 876 305 850 355 850</string>
            </dict>
            <key>Icon_Small_Blank_Home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,156}</string>
                <key>spriteSourceSize</key>
                <string>{152,156}</string>
                <key>textureRect</key>
                <string>{{920,838},{152,156}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 2 4 5 5 6 7 5 7 2 2 3 4 2 7 9 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>152 68 152 93 133 98 133 156 22 156 0 101 0 68 18 47 68 0 84 0</string>
                <key>verticesUV</key>
                <string>1072 906 1072 931 1053 936 1053 994 942 994 920 939 920 906 938 885 988 838 1004 838</string>
            </dict>
            <key>Icon_Small_Blank_Info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,156}</string>
                <key>spriteSourceSize</key>
                <string>{66,156}</string>
                <key>textureRect</key>
                <string>{{108,978},{66,156}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 2 5 0 1 2</string>
                <key>vertices</key>
                <string>66 156 0 156 0 14 7 4 17 0 66 0</string>
                <key>verticesUV</key>
                <string>174 1134 108 1134 108 992 115 982 125 978 174 978</string>
            </dict>
            <key>Icon_Small_Blank_Menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{149,850},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 5 6 7 4 5 7</string>
                <key>vertices</key>
                <string>128 126 0 126 0 89 128 89 128 81 0 81 0 0 128 0</string>
                <key>verticesUV</key>
                <string>277 976 149 976 149 939 277 939 277 931 149 931 149 850 277 850</string>
            </dict>
            <key>Icon_Small_Blank_Music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,149}</string>
                <key>spriteSourceSize</key>
                <string>{147,149}</string>
                <key>textureRect</key>
                <string>{{1541,838},{147,149}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 3 6 7 0 7 9 5 3 4 3 5 6 1 2 3 0 1 3 0 3 7</string>
                <key>vertices</key>
                <string>147 20 147 149 79 149 66 129 8 145 0 122 0 101 29 68 34 0 68 0</string>
                <key>verticesUV</key>
                <string>1688 858 1688 987 1620 987 1607 967 1549 983 1541 960 1541 939 1570 906 1575 838 1609 838</string>
            </dict>
            <key>Icon_Small_Blank_MusicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{1844,1},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 10 11 7 4 7 11 8 9 10 10 7 8 5 6 7 4 5 7 4 11 14 0 3 4 1 2 3 0 1 3 0 4 14</string>
                <key>vertices</key>
                <string>126 8 142 0 169 0 169 27 148 72 148 149 85 154 70 129 31 168 0 168 0 93 30 80 34 12 46 0 65 0</string>
                <key>verticesUV</key>
                <string>1970 9 1986 1 2013 1 2013 28 1992 73 1992 150 1929 155 1914 130 1875 169 1844 169 1844 94 1874 81 1878 13 1890 1 1909 1</string>
            </dict>
            <key>Icon_Small_Blank_Pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,128}</string>
                <key>spriteSourceSize</key>
                <string>{105,128}</string>
                <key>textureRect</key>
                <string>{{1,995},{105,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 5 6 7 4 5 7</string>
                <key>vertices</key>
                <string>46 128 0 128 0 0 46 0 105 128 60 128 60 0 105 0</string>
                <key>verticesUV</key>
                <string>47 1123 1 1123 1 995 47 995 106 1123 61 1123 61 995 106 995</string>
            </dict>
            <key>Icon_Small_Blank_Return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,147}</string>
                <key>spriteSourceSize</key>
                <string>{137,147}</string>
                <key>textureRect</key>
                <string>{{920,996},{137,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 10 2 9 10 11 2 3 6 7 6 3 4 6 4 5 2 3 7 2 7 8 2 8 9 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>137 58 137 73 48 95 57 107 117 97 127 115 93 147 35 147 0 112 0 66 9 29 101 0 119 0</string>
                <key>verticesUV</key>
                <string>1057 1054 1057 1069 968 1091 977 1103 1037 1093 1047 1111 1013 1143 955 1143 920 1108 920 1062 929 1025 1021 996 1039 996</string>
            </dict>
            <key>Icon_Small_Blank_X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{410,850},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 17 18 15 16 17 14 15 18 8 9 13 11 12 13 11 13 9 11 9 10 8 13 14 0 4 8 7 4 5 4 7 8 7 5 6 0 8 14 1 2 3 0 3 4 0 1 3 0 14 18</string>
                <key>vertices</key>
                <string>74 30 110 0 149 0 149 39 117 77 149 109 149 148 110 148 73 115 40 148 21 148 2 129 0 125 0 108 32 70 0 38 0 21 21 0 39 0</string>
                <key>verticesUV</key>
                <string>484 880 520 850 559 850 559 889 527 927 559 959 559 998 520 998 483 965 450 998 431 998 412 979 410 975 410 958 442 920 410 888 410 871 431 850 449 850</string>
            </dict>
            <key>ScrollBar_Orange_Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1151,133}</string>
                <key>spriteSourceSize</key>
                <string>{1151,133}</string>
                <key>textureRect</key>
                <string>{{896,703},{1151,133}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>1151 32 1151 108 1116 133 31 133 0 102 0 25 32 0 1119 0</string>
                <key>verticesUV</key>
                <string>2047 735 2047 811 2012 836 927 836 896 805 896 728 928 703 2015 703</string>
            </dict>
            <key>ScrollBar_Orange_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,165}</string>
                <key>spriteSourceSize</key>
                <string>{162,165}</string>
                <key>textureRect</key>
                <string>{{1845,158},{162,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 6 8 9 6 7 8 3 6 9 4 5 6 3 4 6 1 2 3 1 3 9 0 1 10</string>
                <key>vertices</key>
                <string>162 36 162 120 121 163 100 165 52 165 0 132 0 64 6 33 45 2 66 0 111 0</string>
                <key>verticesUV</key>
                <string>2007 194 2007 278 1966 321 1945 323 1897 323 1845 290 1845 222 1851 191 1890 160 1911 158 1956 158</string>
            </dict>
            <key>ScrollBar_Orange_Pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,117}</string>
                <key>spriteSourceSize</key>
                <string>{140,117}</string>
                <key>textureRect</key>
                <string>{{498,357},{140,117}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 0 5 7 0 4 5 3 4 1 3 1 2 0 1 4</string>
                <key>vertices</key>
                <string>140 48 92 111 79 117 58 117 21 80 0 31 0 0 140 0</string>
                <key>verticesUV</key>
                <string>638 405 590 468 577 474 556 474 519 437 498 388 498 357 638 357</string>
            </dict>
            <key>ScrollBar_Orange_Scroller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,159}</string>
                <key>spriteSourceSize</key>
                <string>{569,159}</string>
                <key>textureRect</key>
                <string>{{1,689},{569,159}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 3 4 5 6 3 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>569 20 569 133 533 159 34 159 0 135 0 49 23 0 526 0</string>
                <key>verticesUV</key>
                <string>570 709 570 822 534 848 35 848 1 824 1 738 24 689 527 689</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BasicUI-0.png</string>
            <key>size</key>
            <string>{2048,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f65e82294ac3c9d2b6dc90fe6ad0fc:ae3e9894ed0f0475dafd4c1013483a1b:ae732a87047ef4ca97a823a7a1ffb052$</string>
            <key>textureFileName</key>
            <string>BasicUI-0.png</string>
        </dict>
    </dict>
</plist>
