<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banner_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1139,457}</string>
                <key>spriteSourceSize</key>
                <string>{1139,457}</string>
                <key>textureRect</key>
                <string>{{1,1},{1139,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonText_Small_Green_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,228}</string>
                <key>spriteSourceSize</key>
                <string>{536,228}</string>
                <key>textureRect</key>
                <string>{{1142,1},{536,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonText_Small_Orange_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,228}</string>
                <key>spriteSourceSize</key>
                <string>{536,228}</string>
                <key>textureRect</key>
                <string>{{1142,231},{536,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,154}</string>
                <key>spriteSourceSize</key>
                <string>{168,154}</string>
                <key>textureRect</key>
                <string>{{333,621},{168,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Small_Blank_Audio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,154}</string>
                <key>spriteSourceSize</key>
                <string>{133,154}</string>
                <key>textureRect</key>
                <string>{{1642,609},{133,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_AudioOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{166,168}</string>
                <key>textureRect</key>
                <string>{{1,621},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_Check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,143}</string>
                <key>spriteSourceSize</key>
                <string>{146,143}</string>
                <key>textureRect</key>
                <string>{{1642,461},{146,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Small_Blank_Help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,149}</string>
                <key>spriteSourceSize</key>
                <string>{103,149}</string>
                <key>textureRect</key>
                <string>{{1680,1},{103,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_Home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,156}</string>
                <key>spriteSourceSize</key>
                <string>{152,156}</string>
                <key>textureRect</key>
                <string>{{742,460},{152,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_Info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,156}</string>
                <key>spriteSourceSize</key>
                <string>{66,156}</string>
                <key>textureRect</key>
                <string>{{1680,282},{66,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_Menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{1453,461},{128,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Small_Blank_Music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,149}</string>
                <key>spriteSourceSize</key>
                <string>{147,149}</string>
                <key>textureRect</key>
                <string>{{1046,461},{147,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_MusicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{572,460},{169,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Small_Blank_Pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,128}</string>
                <key>spriteSourceSize</key>
                <string>{105,128}</string>
                <key>textureRect</key>
                <string>{{1680,152},{105,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_Return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,147}</string>
                <key>spriteSourceSize</key>
                <string>{137,147}</string>
                <key>textureRect</key>
                <string>{{1195,461},{137,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Small_Blank_X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{896,460},{149,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ScrollBar_Orange_Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1151,133}</string>
                <key>spriteSourceSize</key>
                <string>{1151,133}</string>
                <key>textureRect</key>
                <string>{{489,631},{1151,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScrollBar_Orange_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,165}</string>
                <key>spriteSourceSize</key>
                <string>{162,165}</string>
                <key>textureRect</key>
                <string>{{169,621},{162,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScrollBar_Orange_Pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,117}</string>
                <key>spriteSourceSize</key>
                <string>{140,117}</string>
                <key>textureRect</key>
                <string>{{1334,461},{140,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ScrollBar_Orange_Scroller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,159}</string>
                <key>spriteSourceSize</key>
                <string>{569,159}</string>
                <key>textureRect</key>
                <string>{{1,460},{569,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameDemo.png</string>
            <key>size</key>
            <string>{1786,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20dfcf4ad1063343d3fae2a0c0c94e20:8049f4e2d63de195fb0c22afa3303e4c:80f1fc28c5e135e14ad965635f56a249$</string>
            <key>textureFileName</key>
            <string>GameDemo.png</string>
        </dict>
    </dict>
</plist>
