<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banner_Blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{384,2650},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 4 8 9 7 5 6 7 8 5 4 5 8 3 4 10 0 2 3 0 1 2 0 3 10</string>
                <key>vertices</key>
                <string>285 21 285 114 267 114 186 94 139 90 17 114 0 114 0 24 63 5 106 0 192 0</string>
                <key>verticesUV</key>
                <string>669 2671 669 2764 651 2764 570 2744 523 2740 401 2764 384 2764 384 2674 447 2655 490 2650 576 2650</string>
            </dict>
            <key>Banner_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{96,2651},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 4 8 9 7 5 6 7 8 5 4 5 8 3 4 10 0 2 3 0 1 2 0 3 10</string>
                <key>vertices</key>
                <string>285 19 285 114 268 114 188 94 138 90 16 114 0 114 0 24 65 4 106 0 189 0</string>
                <key>verticesUV</key>
                <string>381 2670 381 2765 364 2765 284 2745 234 2741 112 2765 96 2765 96 2675 161 2655 202 2651 285 2651</string>
            </dict>
            <key>Banner_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{499,1682},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 7 5 6 7 8 5 4 5 8 3 4 9 0 2 3 0 1 2 0 3 9</string>
                <key>vertices</key>
                <string>285 21 285 114 267 114 186 94 138 90 17 114 0 114 0 24 78 0 192 0</string>
                <key>verticesUV</key>
                <string>784 1703 784 1796 766 1796 685 1776 637 1772 516 1796 499 1796 499 1706 577 1682 691 1682</string>
            </dict>
            <key>Banner_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{93,2549},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 4 8 9 7 5 6 7 8 5 4 5 8 3 4 10 0 2 3 0 1 2 0 3 10</string>
                <key>vertices</key>
                <string>285 21 285 114 267 114 186 94 138 90 17 114 0 114 0 24 63 5 106 0 192 0</string>
                <key>verticesUV</key>
                <string>378 2570 378 2663 360 2663 279 2643 231 2639 110 2663 93 2663 93 2573 156 2554 199 2549 285 2549</string>
            </dict>
            <key>Banner_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{384,2548},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 7 5 6 7 8 5 4 5 8 3 4 9 0 2 3 0 1 2 0 3 9</string>
                <key>vertices</key>
                <string>285 18 285 114 266 114 195 94 139 90 17 114 0 114 0 18 85 0 189 0</string>
                <key>verticesUV</key>
                <string>669 2566 669 2662 650 2662 579 2642 523 2638 401 2662 384 2662 384 2566 469 2548 573 2548</string>
            </dict>
            <key>Banner_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{88,2448},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 4 8 9 7 5 6 7 8 5 4 5 8 3 4 10 0 2 3 0 1 2 0 3 10</string>
                <key>vertices</key>
                <string>285 20 285 114 267 114 189 95 138 90 17 114 0 114 0 24 73 2 105 0 192 0</string>
                <key>verticesUV</key>
                <string>373 2468 373 2562 355 2562 277 2543 226 2538 105 2562 88 2562 88 2472 161 2450 193 2448 280 2448</string>
            </dict>
            <key>Banner_WhiteOutine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,118}</string>
                <key>spriteSourceSize</key>
                <string>{288,118}</string>
                <key>textureRect</key>
                <string>{{385,2441},{288,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 10 11 5 9 10 8 6 7 8 9 6 5 6 9 4 5 11 4 0 1 4 1 3 3 1 2 0 4 11</string>
                <key>vertices</key>
                <string>215 3 288 23 288 118 268 118 189 99 133 93 19 118 0 118 0 23 62 6 105 0 180 0</string>
                <key>verticesUV</key>
                <string>600 2444 673 2464 673 2559 653 2559 574 2540 518 2534 404 2559 385 2559 385 2464 447 2447 490 2441 565 2441</string>
            </dict>
            <key>Box_Blank_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{384,764},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 3 5 7 3 4 5 0 3 7 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>378 31 378 362 344 378 34 378 14 370 0 346 0 21 26 0 358 0</string>
                <key>verticesUV</key>
                <string>762 795 762 1126 728 1142 418 1142 398 1134 384 1110 384 785 410 764 742 764</string>
            </dict>
            <key>Box_Blank_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,381}</string>
                <key>spriteSourceSize</key>
                <string>{381,381}</string>
                <key>textureRect</key>
                <string>{{1,1536},{381,381}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>381 381 0 381 0 0 381 0</string>
                <key>verticesUV</key>
                <string>382 1917 1 1917 1 1536 382 1536</string>
            </dict>
            <key>Box_Blue_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,378}</string>
                <key>spriteSourceSize</key>
                <string>{377,378}</string>
                <key>textureRect</key>
                <string>{{384,1144},{377,378}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 5 6 8 1 2 5 3 4 5 2 3 5 1 5 8 0 1 8</string>
                <key>vertices</key>
                <string>377 22 377 352 351 378 30 378 6 362 0 342 0 29 20 0 349 0</string>
                <key>verticesUV</key>
                <string>761 1166 761 1496 735 1522 414 1522 390 1506 384 1486 384 1173 404 1144 733 1144</string>
            </dict>
            <key>Box_Blue_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,381}</string>
                <key>spriteSourceSize</key>
                <string>{381,381}</string>
                <key>textureRect</key>
                <string>{{1,1153},{381,381}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>381 381 0 381 0 0 381 0</string>
                <key>verticesUV</key>
                <string>382 1534 1 1534 1 1153 382 1153</string>
            </dict>
            <key>Box_Orange_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{384,384},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 3 4 6 2 3 6 0 1 2 0 2 6</string>
                <key>vertices</key>
                <string>378 26 378 359 346 378 26 378 0 352 0 13 36 0 352 0</string>
                <key>verticesUV</key>
                <string>762 410 762 743 730 762 410 762 384 736 384 397 420 384 736 384</string>
            </dict>
            <key>Box_Orange_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,381}</string>
                <key>spriteSourceSize</key>
                <string>{381,381}</string>
                <key>textureRect</key>
                <string>{{1,770},{381,381}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>381 381 0 381 0 0 381 0</string>
                <key>verticesUV</key>
                <string>382 1151 1 1151 1 770 382 770</string>
            </dict>
            <key>Box_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1,1919},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 5 8 3 4 5 2 3 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>378 26 378 358 347 378 26 378 2 354 0 341 0 26 26 0 352 0</string>
                <key>verticesUV</key>
                <string>379 1945 379 2277 348 2297 27 2297 3 2273 1 2260 1 1945 27 1919 353 1919</string>
            </dict>
            <key>Box_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,381}</string>
                <key>spriteSourceSize</key>
                <string>{381,381}</string>
                <key>textureRect</key>
                <string>{{1,387},{381,381}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>381 381 0 381 0 0 381 0</string>
                <key>verticesUV</key>
                <string>382 768 1 768 1 387 382 387</string>
            </dict>
            <key>Box_WhiteOutline_Rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,381}</string>
                <key>spriteSourceSize</key>
                <string>{381,381}</string>
                <key>textureRect</key>
                <string>{{387,1},{381,381}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 3 4 6 2 3 6 1 2 6 0 1 6</string>
                <key>vertices</key>
                <string>381 12 381 381 27 381 0 354 0 27 27 0 344 0</string>
                <key>verticesUV</key>
                <string>768 13 768 382 414 382 387 355 387 28 414 1 731 1</string>
            </dict>
            <key>Box_WhiteOutline_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,384}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{384,384}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>384 384 0 384 0 0 384 0</string>
                <key>verticesUV</key>
                <string>385 385 1 385 1 1 385 1</string>
            </dict>
            <key>TextBox_Blank_Middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,165}</string>
                <key>spriteSourceSize</key>
                <string>{283,165}</string>
                <key>textureRect</key>
                <string>{{384,1798},{283,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 6 4 5 6 8 4 1 4 8 4 1 2 4 2 3 0 1 9</string>
                <key>vertices</key>
                <string>283 139 166 140 146 165 137 165 122 146 11 138 0 115 0 17 17 0 283 0</string>
                <key>verticesUV</key>
                <string>667 1937 550 1938 530 1963 521 1963 506 1944 395 1936 384 1913 384 1815 401 1798 667 1798</string>
            </dict>
            <key>TextBox_Blank_Side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,165}</string>
                <key>spriteSourceSize</key>
                <string>{283,165}</string>
                <key>textureRect</key>
                <string>{{381,1965},{283,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 6 4 5 6 8 1 6 1 4 4 1 2 4 2 3 0 1 9</string>
                <key>vertices</key>
                <string>283 139 121 139 95 165 87 165 81 157 11 134 0 118 0 3 23 0 283 0</string>
                <key>verticesUV</key>
                <string>664 2104 502 2104 476 2130 468 2130 462 2122 392 2099 381 2083 381 1968 404 1965 664 1965</string>
            </dict>
            <key>TextBox_Green_Middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,165}</string>
                <key>spriteSourceSize</key>
                <string>{283,165}</string>
                <key>textureRect</key>
                <string>{{381,2132},{283,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 6 7 4 5 6 1 4 6 2 3 4 1 2 4 0 1 7</string>
                <key>vertices</key>
                <string>283 138 168 144 146 165 137 165 122 146 0 139 0 0 283 0</string>
                <key>verticesUV</key>
                <string>664 2270 549 2276 527 2297 518 2297 503 2278 381 2271 381 2132 664 2132</string>
            </dict>
            <key>TextBox_Green_Side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,165}</string>
                <key>spriteSourceSize</key>
                <string>{283,165}</string>
                <key>textureRect</key>
                <string>{{286,2299},{283,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 6 7 5 6 1 2 3 4 1 2 4 5 1 4 0 1 7</string>
                <key>vertices</key>
                <string>283 139 116 140 96 165 87 165 81 157 0 134 0 0 283 0</string>
                <key>verticesUV</key>
                <string>569 2438 402 2439 382 2464 373 2464 367 2456 286 2433 286 2299 569 2299</string>
            </dict>
            <key>TextBox_Middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,165}</string>
                <key>spriteSourceSize</key>
                <string>{283,165}</string>
                <key>textureRect</key>
                <string>{{384,1524},{283,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 7 8 6 7 4 6 4 5 1 4 7 4 1 2 4 2 3 0 1 8</string>
                <key>vertices</key>
                <string>283 139 166 140 146 165 137 165 119 142 18 138 0 120 0 0 283 0</string>
                <key>verticesUV</key>
                <string>667 1663 550 1664 530 1689 521 1689 503 1666 402 1662 384 1644 384 1524 667 1524</string>
            </dict>
            <key>TextBox_Side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,165}</string>
                <key>spriteSourceSize</key>
                <string>{283,165}</string>
                <key>textureRect</key>
                <string>{{1,2299},{283,165}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 6 7 5 6 1 5 1 4 4 1 2 4 2 3 0 1 7</string>
                <key>vertices</key>
                <string>283 139 121 139 95 165 87 165 81 157 0 130 0 0 283 0</string>
                <key>verticesUV</key>
                <string>284 2438 122 2438 96 2464 88 2464 82 2456 1 2429 1 2299 284 2299</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BoxesBanners.png</string>
            <key>size</key>
            <string>{785,2766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7298cfeb18d5d1f3d47155e83e0e2a8c:70df61f45b2aa0d92fe5ff5b3ec698f1:cb09aecc9975d0f901de702bf0c3f198$</string>
            <key>textureFileName</key>
            <string>BoxesBanners.png</string>
        </dict>
    </dict>
</plist>
